<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Python-разработчик с нуля</title>
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "/detail.css" %}">
    <link rel="stylesheet" type="text/css" href="css/detail.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="main_container main_container-nav">
            <a href="/">На главную</a>
        </nav>
    </header>
    <main>
        <section class="main_container">
            <img class="main_container__image" src="{% static "/python.png" %}">
            <h1>
                <a href="https://go.skillbox.ru/profession/profession-python/python-razrabotchik-s-nulya">
                    Python-разработчик с нуля
                </a>
            </h1>
            <p>Тут должно быть подробное описание карточки "Продукта", но делать его мы конечно же не будем, так
                как я не представляю что можно указать)</p>
            <p class="price">Цена: 1200 рублей/задание</p>
        </section>
    </main>
</body>
</html>