{% extends "shopapp/base.html" %}
{% load i18n %}

{% block title %}
    {% translate 'Product' %} #{{ product.pk }}
{% endblock %}

{% block body %}
    <h1>{% translate 'Product' %} <strong>{{ product.name }}</strong></h1>
    <div>
        <div>{% translate 'Descriptions' %}: <em>{{ product.description }}</em></div>
        <div>{% translate 'Price' %}: {{ product.price }}</div>
        <div>{% translate 'Discount' %}: {{ product.discount }}</div>
        <div>{% translate 'Archived' %}: {{ product.archived }}</div>
        <div>{% translate 'Created_by' %}: {{ product.created_by }}</div>
        {% if product.preview %}
            <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}">
        {% endif %}

        <h3>
            {% blocktranslate count image_count=product.images.all|length %}
                Image
                {% plural %}
                Images ({{ image_count }})
            {% endblocktranslate %}:
        </h3>
        <div>
            {% for img in product.images.all %}
                <div>
                    <img src="{{ img.image.url }}" alt="{{ img.image.name }}">
                    <div>{{ img.discription }}</div>
                </div>
            {% empty %}
                <div>{% translate 'No images upload yet' %}</div>
            {% endfor %}
        </div>

    </div>
        {% url 'shopapp:products_update' pk=product.pk as product_update %}
        {% url 'shopapp:products_delete' pk=product.pk as products_delete %}
        {% url 'shopapp:products_list' as products_list %}
    {% blocktranslate %}
        <div>
            <a href="{{product_update}}">Edit product</a>
        </div>
        <div>
            <a href="{{ products_delete }}">Archive product</a>
        </div>
        <div>
            <a href="{{ products_list }}">Product list</a>
        </div>
    {% endblocktranslate %}

{% endblock %}