{% extends "myauth/base.html" %}

{% block title %}
    Users list
{% endblock %}

{% block body %}
    <h1>Users list:</h1>
    {% if users %}
        <div>
            {% for user in users %}

                {% if user.profile.avatar %}
                    <div>
                        <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}">
                    </div>
                {% else %}
                    <p>Avatar not upload yet</p>
                {% endif %}

                <p>Username: {{ user.username }}</p>
                <p>User pk: {{ user.pk }}</p>

                {% if request.user.is_authenticated %}
                    <p><a href="{% url "myauth:about-me" pk=user.pk %}">Перейти в профиль</a></p>
                {% endif %}

            {% endfor %}
        </div>
    {% endif %}




{% endblock %}