<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Домашние задания за Денюшку</title>
    <link rel="stylesheet" type="text/css" href="css/advertisement_list.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<section class="main_container">
    <h1 class="main_container__header">Список пройденных курсов</h1>
    <ul class="advertisement_list">
        <li class="advertisement_list__item">
            <div class="flex_container">
                <h2>Python-разработчик с нуля</h2>
                <p>20 домашних заданий</p>
                <p>1200 рублей / Задание</p>
                <img src="img/python.png">
            </div>
            <button class="button">
                <a href="python/">Подробнее</a>
            </button>
        </li>

        <li class="advertisement_list__item">
            <div class="flex_container">
                <h2>Веб-верстка для начинающих 2.0 (2019)</h2>
                <p>8 домашних заданий</p>
                <p>900 рублей / Задание</p>
                <img src="img/html.svg">
            </div>
            <button class="button">
                <a href="web_layout/">Подробнее</a>
            </button>
        </li>

        <li class="advertisement_list__item">
            <div class="flex_container">
                <h2>Презентация итоговых проектов</h2>
                <p>2 домашних задания</p>
                <p>500 рублей / Задание</p>
                <img src="img/html.svg">
            </div>
            <button class="button">
                <a href="final_project/">Подробнее</a>
            </button>
        </li>
    </ul>
</section>

<section class="main_container">
    <h2 class="main_container__header">Список обьявлений циклом</h2>
    <ul class="advertisement_list">
        {% for key, value in advertisements.items %}
            <li class="advertisement_list__item-mod">
                <h2>{{key}}</h2>
                <p>{{value}}</p>
            </li>
        {% endfor %}
    </ul>
</section>
    
<section class="main_container">
    <button class="button">
        <a href="random/">Случайное обьявление</a>
    </button>
</section>
    
<footer class="footer">
    <div class="footer_container">
        <div class="main_container">
            <ul class="footer_nav">
                <li class="footer_nav__item">
                    <a href="contacts/">Контакты</a>
                </li>

                <li class="footer_nav__item">
                    <a href="about/">О компании</a>
                </li>

                <li class="footer_nav__item">
                    <a href="categories/">Категории</a>
                </li>

                <li class="footer_nav__item">
                    <a href="regions/">Регионы</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>